
<div class="container-fluid">
    
    <div class="col-md-12"> <h2>OutGrow Publisher App</h2></div>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: shown === 'upload'}" (click)="redirect('upload')">Upload File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: shown === 'writers'}" (click)="redirect('writers')">Writers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: shown === 'scheduling'}" (click)="redirect('scheduling')">Scheduling</a>
        </li>
        
      </ul>
     <!-- <div class="col-md-12 p-3"> 
        <div class="table-responsive table-striped">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <th> S.no </th>
                      <th  scope="col">Writer Id</th>
                      <th  scope="col">Submitted Tales</th>
                      <th  scope="col">Earning</th>
                    </tr>Writers
                  </thead>
                  <tbody>
                    <tr  *ngFor="let writer of writers, let i = index">
                      <th >{{i+1}}</th>
                      <th >{{writer.writer_id}}</th>
                      <td>{{writer.myTales.length}}</td>
                      <td>{{writer.earning}}</td>
                      
                    </tr>
                  </tbody>
            </table>
          </div>
      </div>-->
     
      
    
    
    <router-outlet></router-outlet>
</div>
